@import url('https://fonts.googleapis.com/css2?family=Kameron&family=Limelight&family=Righteous&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  background-color: #32023a;
  background-size: cover;
  background-repeat: no-repeat;
  color: #f2e3db;
  font-family: 'Kameron', sans-serif;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
  align-items: center;
  width: 100%;
}

.cabecalho-img {
  width: 4em;
  height: 4em;
}

.cabecalho-menu {
  display: flex;
  gap: 5em;
  cursor: pointer;
  flex-wrap: wrap;
}

nav a::after {
  content: " ";
  width: 0%;
  height: 4px;
  background-color: #e292ee;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
  border-radius: 3px;
}

nav a {
  color: #f2e3db;
}

nav a:hover::after {
  width: 100%;
}
 
.cabecalho-menu-item {
  font-family: 'Kameron', serif;
  font-weight: 400;
  font-size: 1.4em;
  position: relative;
}

.conteudo {
  padding-top: 3em;
  border-top: 0.4px solid #f2e3db;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.conteudo-principal-escrito-titulo {
  font-family: 'Righteous', serif;
  font-weight: 400;
  font-size: 4em;
}

.conteudo-principal-escrito-subtitulo {
  font-family: 'Kameron', serif;
  font-weight: 400;
  font-size: 2em;
  width: 13em;
}

.conteudo-principal-escrito-botao {
  background-color: #f2e3db;
  width: 8em;
  height: 2em;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Kameron', serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #2f2f2f;
  cursor: pointer;
  text-decoration: none;
}

.conteudo-principal-escrito-botao:hover {
  background-color: #dcb3ed;
}

.ancora {
  text-decoration: none;
  color: #32023a;
}

.conteudo-principal-imagem {
  height: 25em;
}

.conteudo-secundario {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  margin: auto;
}

.borda {
  width: 20em;
  margin: auto;
  border: 1px solid #f2e3db;
  margin: 5em auto;
}

.conteudo-secundario-titulo {
  font-family: 'Righteos', cursive;
  margin: 0 0 1em 10em;
}

.conteudo-secundario-paragrafo {
  width: 20em;
  margin: 1em 0 0 20em;
}

.conteudo-terciario {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  width: 100%;
}

.conteudo-terciario-titulo {
  font-family: 'Rigtheos', cursive;
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 1em;
}

.conteudo-terciario-grupo {
  font-family: 'Kameron', serif;
  font-weight: 300;
  font-size:  1.5em;
  margin: .5em;
}

.conteudo-terciario-paragrafo:not(:nth-child(1)) {
  margin: 2em 0 1em;
}

.conteudo-quartenario {
  text-align: center;
  font-size: 2em;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.conteudo-quartenario-titulo {
  font-family: 'Rigtheos', cursive;
  margin-bottom: 2em;
}

.conteudo-quartenario-emailInput {
  font-size: .7em;
  width: 20em;
  height: 2em;
  padding: .3em;
  border: none;
  border-radius: .5em;
}

.conteudo-quartenario-botao {
  width: 15em;
  font-size: .7em;
  padding: .2em;
  margin-top: 1em;
  border: none;
  border-radius: .5em;
  background-color: #f2e3db;
  font-family: 'Kameron', sans-serif;
  cursor: pointer;
}

.conteudo-quartenario-botao:hover {
  background-color: #dcb3ed;
}

#mensagem-erro {
  color: #f00;
  margin-top: .5em;
  display: none;
}

#mensagem-sucesso {
  color: rgb(238, 77, 208);
  margin-top: .5em;
  display: none;
}

.rodape {
  padding: .5em;
  border-top: 0.4px solid #f2e3db;
  display: flex;
  justify-content: center;
  margin-top: 2em;
  font-size: 2em;
}
